  .about-col:nth-child(1) {
    flex: 3;
  }
  
  .about-col:nth-child(2) {
    flex: 2;
  }
  
  .about-col p:nth-child(1) {
    opacity: 0.5;
  }

  
  .projects-nav {
    margin: 64px 0 64px 0;
    width: 100%;
  }
  
  .projects-nav-container {
    width: 100%;
    margin-left: auto;
  }
  
  @media (max-width: 900px) {
    .about-container {
      width: 100%;
      flex-direction: column;
      gap: 4em;
    }
  
    .projects-nav-container {
      width: 100%;
    }
  }
  
  .project-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--foreground);
    height: 110px;
    padding: 1em 0;
  }
  
  .project-l {
    display: flex;
    flex: 4;
  }
  
  .project-date {
    flex: 2;
  }
  
  .project-dir {
    flex: 0.5;
    text-align: right;
  }
  
  .project-link .project-link-img {
    margin-right: 1em;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .project-link:hover .project-link-img {
    width: 120px;
    height: 100%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .project-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @media (max-width: 900px) {
    .project-l {
      width: 300px;
    }
  
    .project-date {
      display: none;
    }
  }
  