---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Blog" description="Blog">
  <Container class="flex grow flex-col gap-y-6">
    <Breadcrumbs
      items={[
        { label: 'Projects', href: '/projects', icon: 'lucide:archive' },
        {
          label: 'bi0smeetups',
          href: '/projects/bi0smeetups',
          icon: 'lucide:sticky-note',
        },
      ]}
    />

    <div class="flex flex-col rounded-none pt-10 font-mono" role="main">
      <div class="flex flex-wrap justify-between gap-5 max-md:max-w-full">
        <div class="flex flex-col max-md:max-w-full">
          <h1
            class="self-start font-krypton text-5xl leading-none tracking-tighter text-zinc-100 max-md:text-4xl"
          >
            bi0s Meetups
          </h1>
          <div
            class="mt-5 text-lg font-medium leading-tight tracking-tighter text-stone-300 max-md:max-w-full"
          >
            Meetups page organized by India's #1 CTF and Cybersecurity research
            team
          </div>
        </div>
        <div
          class="w-full md:w-auto flex md:flex-col items-center gap-2 justify-between self-start text-right text-sm leading-loose tracking-tighter text-accent"
        >
          <div>Product, UX/UI, Dev</div>
          <div class="self-end">2024-2025</div>
        </div>
      </div>
      <div class="mt-8 flex items-center justify-center rounded-xl bg-blue-100">
        <div
          class="my-auto flex w-[1683px] max-w-[1683px] flex-col self-stretch overflow-hidden rounded-xl max-md:max-w-full"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/90043f19aa29a9be10bb9045022a3aa2965418c2b3cb4d6b60e991d69ba70a7e?placeholderIfAbsent=true&apiKey=ee661ca2f4a0429c903e88b171d50fcc"
            alt="bi0s Meetups platform showcase"
            class="aspect-[1.75] w-full object-contain max-md:max-w-full"
          />
        </div>
      </div>
      <div
        class="mt-11 flex w-full items-center justify-between gap-10 max-md:mt-10 max-md:max-w-full max-md:flex-wrap"
      >
        <div
          class="my-auto flex w-[925px] min-w-[240px] flex-col self-stretch pt-2 text-sm leading-loose tracking-tighter text-stone-300 max-md:max-w-full"
        >
          <div
            class="mr-20 text-2xl leading-8 tracking-tighter text-white max-md:mr-2.5 max-md:max-w-full"
          >
            A dynamic platform to organize and promote monthly cybersecurity
            meetups for India's #1 CTF and Cybersecurity Research Team.
          </div>
          <div class="mr-16 mt-7 leading-5 max-md:mr-2.5 max-md:max-w-full">
            bi0s meetups point conveniently provides the organizers & attendees
            with an active platform through which such a monthly cybersecurity
            event would be effectively managed. Since this website will be
            producing new pages for every meetup, the design scheme should
            accommodate the theme of the desired meetup and fully functional as
            well.
            <br />
            <br />
            The platform unites the information about the event, rsvp function, and
            the convenient and appealing designs to build professional and user-friendly
            space for cybersecurity communities.
          </div>
          <div class="mt-7 self-start max-md:max-w-full">
            This is a limited case study. Please contact me for more details.
          </div>
          <ul
            class="mt-6 list-none space-y-3 pl-4 max-md:max-w-full max-md:pl-4"
          >
            <li class="flex gap-2">
              <div class="w-1 bg-accent"></div>
              Solely responsible for the design, development, and branding assets,
              including posters and brochures used for marketing.
            </li>
            <li class="flex gap-2">
              <div class="w-1 bg-accent"></div>
              Designed and developed a meetups app to facilitate the creation of
              new meetups and enable organizers to view registered users effortlessly.
            </li>
            <li class="flex gap-2">
              <div class="w-1 bg-accent"></div>
              Focused on providing a seamless user experience while maintaining a
              professional and visually consistent brand identity.
            </li>
          </ul>
        </div>
        <div
          class="my-auto flex w-[408px] min-w-[240px] flex-col items-start self-stretch py-0.5 pr-14 text-sm font-semibold leading-5 tracking-tighter text-white"
        >
          <h2 class="leading-none">Contribution</h2>
          <div class="mt-3 text-sm tracking-tighter text-stone-300">
            Meetup Website: UI Design, Prototyping, Visual,
            <br />
            Research, Scalability, Design system, Development, Deployment
          </div>
          <div class="mt-4 text-sm tracking-tighter text-stone-300">
            Admin App: UI Design, Development
          </div>
          <h2 class="mt-10 leading-none">Website</h2>
          <a
            href="https://bi0smeetup.in"
            class="mt-2.5 whitespace-nowrap text-base leading-none tracking-tighter text-accent hover:underline focus:outline-none focus:ring-2 focus:ring-violet-400"
            target="_blank"
            rel="noopener noreferrer"
          >
            https://bi0smeetup.in
          </a>
          <h2 class="mt-16 leading-none max-md:mt-10">Duration</h2>
          <div class="z-10 mt-3.5 w-60 text-sm tracking-tighter text-stone-300">
            Design: 1 month
            <br />
            Development: 4 months
            <br />
            Ongoing Improvements: 3 months
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col rounded-none font-mono">
      <div class="w-full max-md:max-w-full">
        <div class="flex gap-5 max-md:flex-col">
          <div class="flex w-6/12 flex-col max-md:ml-0 max-md:w-full">
            <div
              class="mx-auto -mb-0.5 flex h-[567px] w-[830px] max-w-full shrink-0 rounded-xl bg-zinc-900 max-md:mt-6"
              role="img"
              aria-label="Meetup registration platform showcase"
              tabindex="0"
            >
            
            <div class="p-4 my-auto">
              <div class="flex gap-5 max-md:flex-col">
                <div class="flex flex-col w-[60%] max-md:ml-0 max-md:w-full">
                  <div
                    class="flex flex-col self-stretch my-auto mr-0 text-2xl font-semibold tracking-tighter leading-8 text-white max-md:mt-10"
                  >
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/4b8732d430c6ba26ced5c35559f19c3700275918e49909eaa5b631877c39f228?placeholderIfAbsent=true&apiKey=ee661ca2f4a0429c903e88b171d50fcc"
                      alt="bi0s Meetups App Logo"
                      class="object-contain rounded-none aspect-square w-[46px]"
                    />
                    <div class="mt-12 max-md:mt-10" role="contentinfo" tabindex="0">
                      An app to streamline organizing meetups for bi0s Meetups, helped in
                      creating and managing meetups
                    </div>
                  </div>
                </div>
                <div class="flex flex-col ml-5 w-[40%] max-md:ml-0 max-md:w-full">
                  <img
                    loading="lazy"
                    src="/static/images/bi0s-meetups/mobile-mockup.svg"
                    alt="bi0s Meetups App Interface Screenshot"
                    class="object-contain grow w-full aspect-[1.53] max-md:max-w-full"
                  />
                </div>
              </div>
            </div>

            </div>
          </div>
          <div class="ml-5 flex w-6/12 flex-col max-md:ml-0 max-md:w-full">
            <div
              class="flex w-full grow flex-col items-start rounded-xl bg-zinc-900 py-7 pl-6 pr-20 text-2xl font-semibold tracking-tighter text-white max-md:mt-6 max-md:max-w-full max-md:px-5"
              tabindex="0"
            >
              <div class="leading-8 max-md:max-w-full">
                We discovered during the meetups that attendees appreciated a
                centralized and professional platform for registrations.
              </div>
              <div
                class="mt-60 text-6xl leading-none tracking-tighter max-md:mt-10 max-md:text-4xl text-accent font-krypton"
                aria-label="Over 800 active users"
              >
                800+
              </div>
              <div class="mt-8 leading-none max-md:max-w-full">
                Active users and engagement on our website.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mt-12 flex w-full flex-col overflow-hidden rounded-xl text-center font-semibold font-sans text-zinc-900 max-md:mt-10 max-md:max-w-full"
      >
        <div
          class="flex w-full flex-col items-center rounded-lg rounded-b-none bg-[#7bffc7] px-80 py-12 max-md:max-w-full max-md:px-5"
          tabindex="0"
        >
          <div class="text-lg leading-none tracking-tighter max-md:max-w-full font-medium">
            Recognizing this opportunity, we aimed to enhance the visual
            identity of each meetup and asked
          </div>
          <div
            class="mt-12 min-h-[156px] w-[800px] max-w-[800px] pl-3 pr-3 text-5xl leading-[52px] tracking-tighter max-md:mt-10 max-md:max-w-full max-md:text-4xl max-md:leading-10"
          >
            How might we create unique, engaging themes to elevate the attendee
            experience?
          </div>
        </div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b47e7686f5cdef62403766259b0bc630e1e8d201385e7123b9d4781208ebeb9e?placeholderIfAbsent=true&apiKey=ee661ca2f4a0429c903e88b171d50fcc"
          alt="Visual representation of meetup themes and attendee experience"
          class="aspect-[2.8] w-full rounded-none object-contain max-md:max-w-full"
        />
      </div>
      <div class="mt-16 flex w-[842px] max-w-full flex-col pb-12 max-md:mt-10">
        <div
          class="text-2xl font-semibold leading-none tracking-tighter text-white"
          tabindex="0"
        >
          Finding the problem:
        </div>
        <div
          class="mt-6 text-sm leading-5 tracking-tighter text-stone-300 max-md:max-w-full"
          tabindex="0"
        >
          The challenge for organizing meetups effectively stemmed from the lack
          of a centralized, professional, and user-friendly registration system.
          Using tools like Google Forms was functional but lacked the
          professional polish expected from India's #1 CTF and cybersecurity
          research team. Additionally, relying on external tools meant less
          control over the user data and experience, which could affect the
          trust and perception of attendees.
        </div>
      </div>
      <div class="flex flex-wrap gap-10 max-md:max-w-full">
        <div class="flex gap-1">
          <div class="w-1 bg-accent"></div>
          <div class="flex min-h-[72px] flex-1 flex-col pl-7 max-md:max-w-full">
            <div
              class="text-sm font-semibold leading-none tracking-tighter text-white"
              tabindex="0"
            >
              Centralized Management
            </div>
            <div
              class="mt-3 text-sm leading-5 tracking-tighter text-stone-300 max-md:max-w-full"
              tabindex="0"
            >
              Handling registrations, attendee lists, and updates through
              multiple tools can cause friction and inefficiencies. A dedicated
              platform can streamline these processes into a unified system.
            </div>
          </div>
        </div>
        <div class="flex gap-1">
          <div class="w-1 bg-accent"></div>
          <div class="flex min-h-[72px] flex-1 flex-col pl-7 max-md:max-w-full">
            <div
              class="text-sm font-semibold leading-none tracking-tighter text-white"
              tabindex="0"
            >
              Professionalism
            </div>
            <div
              class="mt-3 text-sm leading-5 tracking-tighter text-stone-300 max-md:max-w-full"
              tabindex="0"
            >
              Using basic tools for registrations might give an impression of
              unpreparedness. A professional website reflects the high standards
              and capabilities of the team behind the event.
            </div>
          </div>
        </div>
        <div class="flex gap-1">
          <div class="w-1 bg-accent"></div>
          <div
            class="flex min-h-[72px] max-w-full flex-col pl-7 "
          >
            <div
              class="text-sm font-semibold leading-none tracking-tighter text-white"
              tabindex="0"
            >
              Control and Ownership
            </div>
            <div
              class="mt-3 text-sm leading-5 tracking-tighter text-stone-300 max-md:max-w-full"
              tabindex="0"
            >
              External tools like Google Forms limit the control over user
              experience, data handling, and branding. A custom solution would
              provide complete ownership, ensuring a seamless, on-brand experience
              for participants.
            </div>
          </div>
        </div>
      </div>

    </div>
  </Container>
</Layout>
