---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full font-mono">
        <h1 class="mb-4 text-3xl font-bold font-krypton">about me</h1>
        <p class=" prose-neutral mb-8 dark:prose-invert">
          Hey, I'm Sasank Reddy, also known as "decentparadox." I'm currently a student pursuing a degree in Computer Science with a focus on Artificial Intelligence at Amrita School of Engineering, Bangalore. During the day, I work as a graphic and UI/UX designer, and I've got two years of experience under my belt. I'm also into tech stuff like reverse engineering, game hacking, and web development. On weekends, you'll find me diving into Capture The Flag (CTF) challenges.
        </p>
        <p>
          I'm all about learning and growth. My goal is to become a versatile problem solver, so I'm constantly improving my skills in areas like blockchain, app development, machine learning, and networking. I believe in being well-prepared before taking on any projects. When I'm not busy with tech, I love reading books and manga. It's my way of staying creative and inspired
        </p>

        
      </div>
    </section>
  </Container>
</Layout>
