---
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import About from '@/components/About.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Hero from '@/components/Hero.astro'
import Projects from '@/components/Projects'
const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <section>
      <Hero />
    </section>
    <section>
      <About />
    </section>
    <section>
      <Projects client:load/>
    </section>
    <section class="flex flex-col gap-y-4 font-mono">
      <div class="flex items-center justify-between font-krypton opacity-75">
        <h2 class="">(Latest posts)</h2>
        <Link href="/blog" class="text-right">
          (See all posts)
        </Link>
      </div>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </Container>
</Layout>
