---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('mx-auto max-w-screen-xl px-4 md:px-12', className)}><slot /></div>
